name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: build and test
        run: |
          rsync -av ./ /root/ros2_ws/src/robosys2025_assignment_2/
          sudo apt install python3-pip
          python3 -m pip install opencv-contrib-python
          python3 -m pip install mediapipe==0.10.8
          cd /root/ros2_ws
          bash -xv ./src/robosys2025_assignment_2/test/test.bash /root
